[buildout]
extensions = mr.developer
extends = test-plone-4.x.cfg
auto-checkout = 
    collective.z3cform.keywordwidget
[sources]
collective.z3cform.keywordwidget = svn https://svn.plone.org/svn/collective/collective.z3cform.keywordwidget/branches/naro_index_name

# [test]
# recipe = zc.recipe.testrunner
# defaults = ['-v', '-s', 'collective.z3cform.keywordwidget']
# eggs =
#     Plone
#     plone.app.upgrade
#     collective.z3cform.keywordwidget [tests]
