#content ul#VTCFilterTree ul { margin-left: 0; list-style-type: none;} 
#content ul#VTCFilterTree ul a { padding-left: 24px;} 

#keywords, #VTCTree {
    float: left;
    width: 35%;
}

#keywords {
    padding-left: 40px;
    width: 55%;
}

.unassigned-keyword:hover {
    background-color: #eeee00;
}

.unassigned-keyword span {
    background-color: #ffaa00;
}